[Unit]
Description=log4shell exploit listener service
After=network.target

[Service]
Type=exec
ExecStart=/local/listen.py
StandardOutput=journal
User=infosecbot
Group=blue_team_sa
WorkingDirectory=/local
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
