[Unit]
Description=Listener application for successful log4shell exploits.
After=syslog.target network.target

[Service]
SuccessExitStatus=143

Type=simple

Environment="JAVA_HOME=/usr"
ExecStart=${JAVA_HOME}/bin/java -jar /usr/share/java/log4shell-jar-with-dependencies.jar --config /etc/log4shell-listener.yaml
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
